* {box-sizing: border-box;}
.code {
    background-color: rgb(83, 124, 136);
    border: 5px solid #0ef;
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 400px;
}
.link {
color: green;
font-size: 30px;
}
.link:hover {
    color: pink;
}
.link:visited {
    color: red;
}
p {
    font-size: 40px;
}
img {
    width: auto;
}
h1 {width: auto;
    color:rgb(69, 7, 18);
    background-color:grey;
     font-size: 50px;}
h2 {font-size: 50px;
     font-weight: bolder;
     color: red;}
#titulo  { color: blue }
.titulo2 { color: purple}
li {
    font-weight: bold;
    color:rgb(69, 71, 180);
    font-size: 30px;}
     p {
        color:#00f;
        font-size: 40px;
        font-weight: bold;
        font-family: serif;
        text-align: justify;
        text-transform:none;
        letter-spacing: normal;
        word-spacing:normal;
        line-height: normal;
        text-shadow: 2px 2px 2px rgb(107, 101, 101)
     }
     a {
        text-decoration: none;
     }
      a:hover {
        text-decoration: underline;
      }