.code {
    background-color: black;
    width: auto;
    height: 100px;
}
img {
    width: auto;
}
h1 {width: auto;
    color:rgb(69, 7, 18);
    background-color:grey;
     font-size: 50px;}
h2 {font-size: 50px;
     font-weight: bolder;
     color: red;}
#titulo  { color: blue }
.titulo2 { color: purple}
li {font-weight: bold;
     color:rgb(69, 71, 180);
     font-size: 30px;}